<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ifeoluwa.partscribber">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pclogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pclogo"
        android:supportsRtl="true"
        android:theme="@style/customStyle">
        <activity android:name=".PartsCribberSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PartsCribberLogin" />
        <activity android:name=".PartsCribberRegisterStudent" />
        <activity android:name=".PartsCribberViewProfile" />
        <activity android:name=".PartsCribberAdminMenu" />
        <activity android:name=".PartsCribberStudentMenu" />
        <activity android:name=".PartsCribberRegisterAdmin" />
        <activity android:name=".PartsCribberChangePassword" />
        <activity android:name=".PartsCribberViewCategory" />
        <activity android:name=".PartsCribberUpdateInventory" />
        <activity android:name=".PartsCribberViewTools" />
        <activity android:name=".PartsCribberToolData"></activity>
    </application>

</manifest>